/*--------------------------------------------------------------
## Variables
--------------------------------------------------------------*/
// Fonts

$font-main: 'Proxima Nova Rg';
$font-sec: 'Raleway', sans-serif;
$font-thrid: 'Open Sans', sans-serif;

// Colors
$white: #fff;
$black: #000;

$dark: #25282a;
$grey-dark: #4a4a4a;
$bali-hai: #83969f;
$grey: #666;
$grey-light: #9b9b9b;
$light: #ecedf1;
$blue: #59759c;
$blue-dark: #344d71;
$blue-light: #4771af;
$galliano: #de9e20;
$orange: #f6b431;
$orange-light: #ffd7b5;
$green: #7cfc00;
$hawkes-blue: #d0ddf2;
$bayoux: #63727a;
$snow: #fbfbfb;
$jordi-blue: #3a557c;
$wedgewood: #466289;
$sanmarino: #516e96;
$catalina-blue: #253957;
$sky-blue: #4771af;
$cello: #324a6d;
$whisper: #ede9e9;
$mischka: #aeb3ba;
$wheat: #f5deb3;
$darkgoldenrod: #a27418;



// Transitions
$dur: 350ms;
$ease: ease;

// Breakpoints
$phone: 767;
$tablet: 1024;
$tablet-l: 1199;
$lap-small: 1250;
$lap-large: 1400;

